    <!-- Previous/next page links - only displayed on page 2+ -->
    <div class="extra-pagination inner">
        {% if page.class == 'home-template' %}
            {% include post_pagination.html %}
        {% elsif page.class == 'page-template' %}
            {% include post_pagination.html %}
        {% elsif page.class == 'author-template' %}
            {% include author_pagination.html %}
        {% elsif page.class == 'tag-template' %}
            {% include tag_pagination.html %}
        {% else %}
            {% include post_pagination.html %}
        {% endif %}
    </div>

    <!-- This is the post loop - each post will be output using this markup -->
    <article class="post post-list">
        {% for post in paginator.posts %}
            {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
            {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

            {% if forloop.first %}
                <h2 id="{{ this_year }}-ref">{{this_year}}</h2>
            {% endif %}

            <header class="post-list-header">
                <time class="post-date" datetime="{{ post.date | date:'%Y-%m-%d' }}">{{ post.date | date_to_string }}</time>
                <h3 class="post-list-title"><a href="{{ site.link_base }}{{ post.url }}">{{ post.title }}</a></h3>
            </header>

            {% if this_year != next_year %}
                </article>
                <article class="post post-list">
                    <h2 id="{{ next_year }}-ref">{{next_year}}</h2>
            {% endif %}
        {% endfor %}
    </article>

    <!-- Previous/next page links - displayed on every page -->
    {% if page.class == 'home-template' %}
        {% include post_pagination.html %}
    {% elsif page.class == 'page-template' %}
        {% include post_pagination.html %}
    {% elsif page.class == 'author-template' %}
        {% include author_pagination.html %}
    {% elsif page.class == 'tag-template' %}
        {% include tag_pagination.html %}
    {% else %}
        {% include post_pagination.html %}
    {% endif %}
